*.log
*.log.1
bin
.DS_Store
jarmf/META-INF/MANIFEST.MF
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
log/log.console
log/META-INF/MANIFEST.MF
log/m3/META-INF/MANIFEST.MF
log/metainf2/META-INF/MANIFEST.MF
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
